<div class="container-fluid blok1">
  <div class="row">
    <h2 class="text-center title">Practice for your exam</h2>
  </div>
  <div class="text-background">
    <div class="row">
      <div class="lead text-center">
        <p>We have all the questions for your citizen exam.</p>
        <p>Answer the 10 randomly questions will serve you and we’ll tell you if you would’ve passed the real test.</p>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="button" class="btn btn-primary">
          <a class="text-white" routerLink="/questions">Start</a>
        </button>
      </div>
    </div>
  </div>
</div>
